

/* Styling */

body{
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}

/* Slider */ 
#background-square{
    width: 810px;
    height:715px;
    background: rgba(196, 196, 196, 0.1);
    position:fixed;
    bottom:0;
    right:-100px;
    z-index:-1;
}

.slide_image{
    height:400px;
    background-size:cover;
    background-position:center;
    margin:5px;
    padding:2em;
    color:white;
}
.slide-hover{
    display:flex;
    align-items:flex-end;
    width:100%;
    height:100%;
}
.slide-text{
    margin-bottom:4rem;
    transition: opacity .15s ease-in-out;
}
.slide-text h1{
    color:white;
}

.splide__arrow{
    bottom:-2rem;
 }
 .splide__arrows{
     position:relative;
    width:15rem;
 }

 .splide__arrows button {
     position: absolute;
     background:none;
 } 

 .splide__pagination{
    display:none;
}

.splide__slide{
    opacity: 0.5;
    max-height: 400px;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;    
}

.is-active{
    opacity:1;    
}

#image1{
    background: linear-gradient(27.84deg, #375061 -4.51%, rgba(55, 80, 97, 0) 58.39%), url(../images/1.jpg);
    background-size:cover;
    background-position:center;
}

#image2{
    background: linear-gradient(6.6deg, #375061 -0.29%, rgba(55, 80, 97, 0.5) 75.92%), url(../images/2.jpg);
    background-size:cover;
    background-position:center;
}

#image3{
    background: linear-gradient(27.84deg, #375061 -4.51%, rgba(55, 80, 97, 0) 58.39%), url(../images/3.jpg);
    background-size:cover;
    background-position:center;
}

/* Onze diensten slider tekst */

#diensten-uitleg{
    color: rgba(46,46,46,0.55);
    font-size:18px;
    line-height:37.35px;
}

h1{
    margin-top:0;
    color: #375061;
    line-height: 56px;
    font-size:45px;
}

#onze-diensten{
    padding:20px;
}

.hide { opacity: 0; } /* tekst verbergen */

/* CSS Grid voor de slider*/

#wrapper{
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    max-width: 1200px;
    margin:auto;
    margin-top:2rem;
}

#onze-diensten{
    grid-column: 1;
    grid-row: 1;
    margin-bottom:4rem;
}
.splide__track{
    grid-column: 1;
    grid-row: 2;
}
.splide__arrows{
    grid-column: 1;
    grid-row: 1;
}

/* Positionering groot scherm */ 

@media only screen and (min-width: 1200px) {
    #wrapper{
        grid-template-columns: 400px;
    }
    #onze-diensten{
        grid-column: 1;
        grid-row: 1;
        margin-bottom:0;
    }
    .splide__track{
        grid-column: 2 / 4;
        grid-row: 1;
    }
    .splide__arrows{
        grid-column: 1;
        grid-row: 1;
    }
}
